body{
    background : linear-gradient(135deg , #77A1D3, #79CBCA, #E684AE);
    color: black;
}

nav{
    background : linear-gradient(140deg, #9796f0, #fbc7d4);
}

.card{
    background : linear-gradient(140deg, #9796f0, #fbc7d4);
    color: black;
}